apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: myapps
  labels:
    app: homepage
data:
  kubernetes.yaml: |
    mode: disabled
  settings.yaml: |
    title: Home Lab Dashboard

    providers:
      openweathermap: false
      weatherapi: false

    background:
      image: https://cdnb.artstation.com/p/assets/images/images/006/897/659/large/mikael-gustafsson-wallpaper-mikael-gustafsson.jpg
      blur: sm # sm, md, xl... see https://tailwindcss.com/docs/backdrop-blur
      saturate: 100 # 0, 50, 100... see https://tailwindcss.com/docs/backdrop-saturate
      brightness: 50 # 0, 50, 75... see https://tailwindcss.com/docs/backdrop-brightness
      opacity: 100 # 0-100

    theme: dark
    color: slate

    useEqualHeights: true

    hideVersion: true
    disableCollapse: true

    layout:
      Hypervisor:
        header: true
        style: row
        columns: 2
      Containers:
        header: true
        style: row
        columns: 4
      DNS:
        header: true
        style: row
        columns: 1
      Network:
        header: true
        style: row
        columns: 4
      Remote Access:
        header: true
        style: row
        columns: 4
      Storage:
        header: true
        style: row
        columns: 4
      Media:
        header: true
        style: row
        columns: 4
      Home Automation:
        header: true
        style: row
        columns: 4
      Other:
        header: true
        style: row
        columns: 4
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: ""
  services.yaml: |
    - Lab Services:
        - Longhorn:
            icon: longhorn.svg
            href: "https://longhorn.samboxlab.top"
            description: storage
        - Grafana:
            icon: grafana.svg
            href: "https://grafana.samboxlab.top"
            description: monitoring
        - Prometheus:
            icon: prometheus.svg
            href: "https://prometheus.samboxlab.top"
            description: metrics
        - Uptime Kuma:
            icon: uptime-kuma.svg
            href: "https://monitor.samboxlab.top"
            description: monitoring
    - External:
        - GitHub:
            icon: github.svg
            href: https://github.com/sojay
            description: code
        - TrueNAS:
            icon: truenas.svg
            href: "https://nas.local.samboxlab.com"
            description: storage
        - MinIO:
            icon: minio.svg
            href: "https://minio.local.samboxlab.com"
            description: s3
        - Gitea:
            icon: gitea.svg
            href: https://git.local.samboxlab.com
            description: git

  widgets.yaml: |
    - resources:
        cpu: true
        memory: true
        disk: /

    - datetime:
        text_size: xl
        format:
          timeStyle: short
  docker.yaml: ""