---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
spec:
  interval: 30m
  chart:
    spec:
      chart: reflector
      version: 10.0.8
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    configuration:
      logging:
        minimumLevel: Information
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 128Mi